body{
    background-image:-webkit-linear-gradient(60deg,rgba(218, 169, 215, 0.637),rgba(128, 174, 235, 0.904));
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    margin-right: 30px;
}
h1 {
    color: #000000;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top:40px;
    margin-bottom:40px;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
}
img {
    border-radius: 8px;
    height: 300px;
}
form {
    margin-left: 30px;
    margin-right: 30px;
}
p {
    margin-left: 30px;

}