<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% for event in events %}
    <div>
        <p><b>Name:</b> {{ event.name }}</p>
        {% if event.description %}
        <p><b>Description:</b> {{ event.description }}</p>
        {% endif%}
        <p><b>Guests amount:</b> {{ event.guests.count() }}</p>
        <p><b>Scheduled date:</b> {{ event.date }}</p>

        {% if event.guests.all() %}
            <p>Guests:</p>
            <ul>
                {% for guest in event.guests.all() %}
                <li>{{ guest.name }} {{ guest.surname }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="button"><a href="/events/{{ event.id }}">Open<a></button>
        <hr>
    </div>
    {% endfor %}
</body>
</html>