<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>It's just a simple blog on Django!</h1>
    <h2><a href="add_message">Add new Message!</a></h2>
    {% if info %} 
    <ul>
        {% for message in info %} 
        <h3>{{ message.message_text }}</h3>
        {{ message.pub_date }}
        <br>
        <br>
        {% endfor %} 
    {% else %}
        No messages
    {% endif %}
    </ul>
</body>
</html>
